# Ignore everything by default
*

# allow git to traverse dirs
!*/

# But not these!
# gitignore itself should be allowed
!.gitignore
# nvim
!nvim/
!nvim/**
# hyperland configs
!hypr/
!hypr/**
# meaw!
!kitty/
!kitty/**
# some scripts
!scripts/
!scripts/**
# Swaync
!swaync/
!swaync/**
# waybar
!waybar/
!waybar/**
# wlogout
!wlogout/
!wlogout/**
# wofi
!wofi/
!wofi/**
# yazi
!yazi/
!yazi/**
# electron
!zed/
!zed/**
# install scripts
!*.sh
!README.md
!nvidia.hook
!80-nvidia-pm.rules
# because scripts inside Code - OSS gets pushed

Code - OSS/
Code - OSS/**
!Code - OSS/User/*.json
# may be I am using vscodium
!VSCodium/User/*.json
VSCodium/
VSCodium/**

# discord
discord/
discord/**