/*--------------------------*/
/* colours          */
/*--------------------------*/
@define-color bg #1F2124;
@define-color bg_h #047F66;
@define-color text_h #FFFFFF;
@define-color text #89B4FA;
@define-color transparent rgba(0,0,0,0.0);
@define-color border rgba(70, 150, 205, 0.5);

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: @transparent;
}

tooltip {
    background: @bg;
    border-radius: 10px;
    border: 1px solid @border;
    opacity: 0.9;
}

/*--------------------------*/
/* Workspaces        */
/*--------------------------*/
#workspaces {
    background: @bg;
    border-radius: 10px;
    margin-left: 10px;
}

#workspaces button {
    padding: 0 7px;
    color: @text_h;
    border-radius: 8px;
}

#workspaces button.active {
    color: @text_h;
    background-color: @border;
}

#workspaces button.focused {
    color: @text_h;
    background: @bg_h;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @bg_h;
}

/*--------------------------*/
/* Modules         */
/*--------------------------*/
#backlight,
#battery,
#clock,
#custom-memory,
#custom-power,
#custom-power_profile,
#custom-recording,
#custom-screen,
#custom-spotify,
#custom-swaync,
#custom-temperature,
#custom-weather,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray,
#window {
    color: @text_h;
}

#backlight,
#battery,
#clock,
#custom-memory,
#custom-power,
#custom-power_profile,
#custom-recording,
#custom-screen,
#custom-spotify,
#custom-swaync,
#custom-temperature,
#custom-weather,
#network,
#power-profiles-daemon,
#pulseaudio,
#tray {
    background: @bg;
    padding: 0px 10px;
    border: 1px solid @border;
}

#backlight:hover,
#battery:hover,
#clock:hover,
#custom-menu:hover,
#custom-moon:hover,
#custom-memory:hover,
#custom-power:hover,
#custom-power_profile:hover,
#custom-recording:hover,
#custom-screen:hover,
#custom-swaync:hover,
#custom-temperature:hover,
#custom-wallpaper:hover,
#custom-weather:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#window:hover {
    color: @text;
}

/* Module-specific styles */
#window {
    border-radius: 10px;
    margin: 0 60px;
}

#custom-weather {
    margin: 0 5px;
    padding: 0 7px;
    border-radius: 10px;
}

#custom-temperature {
    border-radius: 10px 0 0 10px;
}

#custom-temperature.critical,
#custom-screen.active,
#custom-recording.active {
    color: red;
}

#custom-power,
#custom-menu {
    background-color: @bg;
    padding: 0 5px;
    border: 1px solid @border;
}

#custom-power,
#custom-menu,
#custom-recording,
#custom-screen {
    font-size: 22px;
}

/* Specific border fixes for modules */
#tray {
    border-right: none;
    border-radius: 10px 0 0 10px;
    margin-left: 5px;
}

#custom-swaync {
    border-left: none;
    border-radius: 0 10px 10px 0;
}

#custom-power {
    border-right: 0;
    border-radius: 10px 0 0 10px;
}

#custom-menu {
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

#backlight {
    border-radius: 10px 0 0 10px;
    margin-left: 5px;
}

#clock {
    border-radius: 10px;
    margin-left: 5px;
}

#pulseaudio {
    border-left: none;
}

#battery {
    border-radius: 10px 0 0 10px;
    margin-right: 0;
    border-right: none;
}

#battery.warning {
    color: #ffa500;
}

#battery.critical {
    color: red;
}

#custom-moon {
    border-radius: 0 10px 10px 0;
    border-right: 0;
}

#power-profiles-daemon {
    border-left: none;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
}
#power-profiles-daemon.performance{
    color: #ffa500;
}
#power-profiles-daemon.balanced{
    color: #047fff;

}
#power-profiles-daemon.power-saver{
    color: aquamarine;
}

/*--------------------------*/
/* Menu           */
/*--------------------------*/
menu {
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #047fff;
    background: @bg;
}

menuitem {
    border-radius: 5px;
    margin: 5px;
}